<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="c42d4899-6d6e-408d-b62f-e25c04498798"
            Publisher="CN=André"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>INotifyPropertyChangedCallerMemberName</DisplayName>
    <PublisherDisplayName>André</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="INotifyPropertyChangedCallerMemberName.App">
        <VisualElements
            DisplayName="INotifyPropertyChangedCallerMemberName"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="INotifyPropertyChangedCallerMemberName"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>